.banner {
	background-image: url("./asset/background.jpg");
	background-size: cover;
	background-position: bottom;
	height: 42.5rem;
	padding: 0;
}

.form-wrapper {
	background-color: #f8f9fa;
	height: calc(+100%);
	width: calc(+30vw);
}

.brand img {
	width: 10rem;
	height: auto;
	padding-top: 3rem;
	padding-bottom: 0rem;
}
.brand p {
	font-size: 2rem;
	padding-top: 0rem;
}